html {
    background-color: azure;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 5rem;
    text-align: center;
    background-color: rgb(49, 49, 49);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
}

header h1 {
    padding-top: 1rem;
}

/*============================= IMG SLIDER =============================== */

.img-section {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15rem auto;
    background-color: silver;
    width: 100%;
    height: 36rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}



.back-arrow:hover, .forward-arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 200ms ease-in-out;
}

.frame-holder {
    z-index: 0;
    display: flex;
    gap: 2rem; 
    flex-direction: row;
    order: 1;
}

.img-selector {
    height: 2rem;
    text-align: center;
    padding: 1rem;
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dot-selector {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-color: black;
    margin: .2rem;
    border-radius: 50%;
    cursor: pointer;
}

.dot-selector:hover {
    transform: scale(1.4);
    opacity: .4;
    transition: opacity 300ms ease-in-out 0s;
    transition: transform 300ms ease-in-out 0s;
}

.dot-selector.active {
    transform: scale(1.4);
    opacity: .4;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
  }

  


/*============================= IMG SLIDER =============================== */